body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 1rem;
    }
.box-container{
display: flex;
justify-content: center;
}
.red{
    background-color: rgb(237, 120, 120);
}
.green{
    background-color:green;
}
.yellow{
    background-color:yellow;
}
.purple{
    background-color: purple;
}
.gameflash {
    background-color: white;
  }
  
  .userflash {
    background-color: orange;
  }